@*
    * CoreUI - Open Source Bootstrap Admin Template
    * @version v1.0.9
    * @link http://coreui.io
    * Copyright (c) 2018 creativeLabs Łukasz Holeczek
    * @license MIT
*@

@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">*@
    @*<meta name="author" content="Łukasz Holeczek">*@
    @*<meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">*@
    @*<link rel="shortcut icon" href="~/src/img/favicon.png">*@
    <title>Budgie</title>

    <!-- Icons -->
    <link href="~/dist/vendors/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/dist/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dist/vendors/css/simple-line-icons.min.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="~/src/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->

</head>
<body class="app header-fixed sidebar-fixed">

    <header class="app-header navbar">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="~/src/img/avatar/avatar-1577909_640.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                </a>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header text-center">
                            <strong>Account</strong>
                        </div>
                        <div class="divider"></div>
                        <button type="submit" class="dropdown-item"><i class="fa fa-lock"></i>Log out</button>
                    </div>
                </form>
            </li>
        </ul>
    </header>

    <div class="app-body">

        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">
                        Account settings
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Manage</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item @ManageNavPages.IndexNavClass(ViewContext)">
                                <a asp-action="Profile" asp-controller="Manage" class="nav-link"><i class="icon-puzzle"></i> Profile</a>
                            </li>
                            <li class="nav-item @ManageNavPages.ChangePasswordNavClass(ViewContext)">
                                <a asp-action="ChangePassword" asp-controller="Manage" class="nav-link"><i class="icon-puzzle"></i> Password</a>
                            </li>
                            @if (hasExternalLogins)
                            {
                                <li class="nav-item @ManageNavPages.ExternalLoginsNavClass(ViewContext)">
                                    <a asp-action="ExternalLogins" asp-controller="Manage" class="nav-link"><i class="icon-puzzle"></i> External logins</a>
                                </li>
                            }
                            <li class="nav-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
                                <a asp-action="TwoFactorAuthentication" asp-controller="Manage" class="nav-link"><i class="icon-puzzle"></i> 2FA</a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-title">
                        Apps
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="icon-pie-chart"></i> Budgie</a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

        <!-- Main content -->
        <main class="main">

            @RenderSection("breadcrumb", false)

            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.conainer-fluid -->
        </main>

    </div>

    <footer class="app-footer">
        <span><a href="/">Budgie</a> &copy; @DateTime.UtcNow.Year</span>
        <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
    </footer>

    <!-- Bootstrap and necessary plugins -->
    <script src="~/dist/vendors/js/jquery.min.js"></script>
    @*<script src="~/dist/vendors/js/popper.min.js"></script>*@
    <script src="~/dist/vendors/js/bootstrap.min.js"></script>
    @*<script src="~/dist/vendors/js/pace.min.js"></script>*@
    @*<script src="~/dist/vendors/js/Chart.min.js"></script>*@

    <!-- CoreUI main scripts -->

    <script src="~/src/js/app.js"></script>

    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    @*<script src="~/src/js/views/main.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
