@using System.Linq
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    Layout = "_LayoutLogin";
}

<div class="col-md-12">
    <div class="card-group">
        <div class="card p-4">
            <div class="card-body">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="input-group mb-4">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary px-4">Login</button>
                        </div>
                        <div class="col-6 text-right">
                            <a asp-action="ForgotPassword" class="btn btn-link px-0">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Any())
            {
                <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                    <div class="card-body text-center">
                        <div>
                            <h2>Use another service to log in.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            var btnClass = provider.DisplayName.ToLower() == "facebook" ? "facebook" : "google-plus";
                                            <button type="submit" class="btn btn-@btnClass" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <span>@provider.DisplayName</span>
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
                <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-primary active mt-3">Register Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>